body html
{
	width: 100%;
	height: 100%;
}
.mainContainer{
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inputContainer
{	padding-top: 20px;
	display:grid;
	grid-template-columns: repeat(4,0.1fr);
	grid-template-rows: 2fr;
	grid-gap: 20px;
}

.reset
{
	grid-column: 1/3;
}
.equalsTo{
	grid-column: 3/5;
}