body{
	background-color: #3b4664;
}


.mainContainer{
	padding: 30px;
	display:grid;
	/*align-items: center;
	justify-content: center;*/
	grid-template-rows:1fr 3fr auto; 
	gap:10px;
	width:600px;
	/*height:600px; */
	/*margin-left:40%;
	margin-right: 35%;
	margin-top:10%;*/
	margin: auto;
	margin-top: 7%;

}

.mainContainer div {
/*	margin:20px*/;
}

/*Info CONTENT CHANGES*/
.infoContainer {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	color: white;
	font-family: sans-serif;
	padding-bottom: 3%
}


.infoContainer div,.infoContainer span{width:100px;}
.infoContainer span {
	align-self:center; 
	font-weight: bold;
}


.infoContainer .themeToggle{
	align-self:auto; 
	font-size: 0.5em;
	text-transform: uppercase;
	font-weight:600;
	float: right;
}


.themeToggle div {/*float: right;background-color: black;*/}



.slider {
	height: 15px;
	appearance:none;
	cursor:pointer;
	background-color: #252D44;
	margin: 5px;
	border-radius:100px; 
	width: 50%;
}


.slider::-webkit-range-thumb{background-color: #D13F30;border:0;}
.slider::-moz-range-thumb{background-color: #D13F30;border:0;}



/*VALUE CONTAINER*/
.valueContainer{
	margin-bottom:10px;
}

.valueContainer input{
	width: 96.5%;
	height: 90%;
	padding: 10px;
	border:0;
	background-color:#181F32;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 2em;
}



/*input VaLUE SETTINGS*/

.inputContainer{
	display: grid;
	gap:15px;
	justify-content: space-around;
	padding:50px;
	padding-bottom: 100px;
	background-color:#252D44;
	border-radius: 5px;
	grid-template-rows:20% 20% 20% 20%;
	grid-template-columns:24% 24% 24% 24%;	
}

.inputContainer button{
	cursor: pointer;
	font-weight: bold;
	color:#666;
	border:0;
	border-radius: 5px;
	font-size:1.4em;
	background-color:#EAE3DB;
	border-bottom: 5px solid silver;
	/*box-shadow: 0px 0px 1px #B6A89F;*/
	padding: 5px;
}


.inputContainer #special1{grid-column-start: 1;grid-column-end:3;background-color:#636F96;color: white;border-bottom: 5px solid #4B5471;}
.inputContainer #special2{grid-column-start: 3;grid-column-end:5;background-color: #D13F30;color: white;border-bottom: 5px solid #692018;}

/*EXTRA*/
#extra{background-color:#636F96;color: white;border-bottom: 5px solid #4B5471;}









/*only need some changes in colors*/

/**********CODE FOR THEME 2*/
/*#special1_2{grid-column-start: 1;grid-column-end:3;background-color:#636F96;color: white;border-bottom: 5px solid #4B5471;}
#special2_2{grid-column-start: 3;grid-column-end:5;background-color: #D13F30;color: white;border-bottom: 5px solid #692018;}
#extra_2{background-color:#636F96;color: white;border-bottom: 5px solid #4B5471;}


.slider_2::-webkit-range-thumb{background-color: #D13F30;border:0;}
.slider_2::-moz-range-thumb{background-color: #D13F30;border:0;}

.inputContainer_2{
	display: grid;
	gap:15px;
	justify-content: space-around;
	padding:50px;
	padding-bottom: 100px;
	background-color:#252D44;
	border-radius: 5px;
	grid-template-rows:20% 20% 20% 20%;
	grid-template-columns:24% 24% 24% 24%;	
}

.inputContainer_2 button{
	cursor: pointer;
	font-weight: bold;
	color:#666;
	border:0;
	border-radius: 5px;
	font-size:1.4em;
	background-color:#EAE3DB;
	border-bottom: 5px solid silver;
	/*box-shadow: 0px 0px 1px #B6A89F;
	padding: 5px;
}*/




/**********CODE FOR THEME 3*/
/*#special1_3{grid-column-start: 1;grid-column-end:3;background-color:#636F96;color: white;border-bottom: 5px solid #4B5471;}
#special2_3{grid-column-start: 3;grid-column-end:5;background-color: #D13F30;color: white;border-bottom: 5px solid #692018;}
#extra_3{background-color:#636F96;color: white;border-bottom: 5px solid #4B5471;}

.slider::-webkit-range-thumb{background-color: #D13F30;border:0;}
.slider::-moz-range-thumb{background-color: #D13F30;border:0;}
*//*
.inputContainer_3{
	display: grid;
	gap:15px;
	justify-content: space-around;
	padding:50px;
	padding-bottom: 100px;
	background-color:#252D44;
	border-radius: 5px;
	grid-template-rows:20% 20% 20% 20%;
	grid-template-columns:24% 24% 24% 24%;	
}

.inputContainer_3 button{
	cursor: pointer;
	font-weight: bold;
	color:#666;
	border:0;
	border-radius: 5px;
	font-size:1.4em;
	background-color:#EAE3DB;
	border-bottom: 5px solid silver;
	/*box-shadow: 0px 0px 1px #B6A89F;*/
	/*padding: 5px;*/
/*}*/